* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --principal: #516570;
  --background: #DBEDEE;
  --bege: #FDF8EB;
  --white: #fff;
  --black: #000;
}

body {
  background: var(--background);
  font-size: 1.6rem;
}

h3{
  color: var(--white);
}

header {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 6rem;
  padding: .5rem 4rem;
  border-radius: 10rem;
  background-color: var(--principal);
}

header a {
  margin-right: 1.5rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

header div a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
}

header div a:hover{
  color: var(--black);
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.2s;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .3rem 1.7rem;
    border-radius: 5rem;
    border: solid var(--white) .3rem;
    background: none;
    color: var(--white);
    text-decoration: none;
    font-size: 1.6rem;
}


header button img {
  width: 1.7rem;
}
.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 20px;
}

.timeline-content.text {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.timeline-content.image img {
  max-width: 140px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.timeline-date {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.timeline-date.left {
  justify-content: flex-start;
  border-bottom: black 0.3rem solid;
}

.timeline-date.right {
  justify-content: flex-end;
  border-bottom: black 0.3rem solid;
}

.arrow {
  font-weight: bold;
  font-size: 18px;
}

.rodape {
  display: flex;
  flex-direction: column;
  background-color: var(--principal);
  padding: 8.7rem 29.1rem 0rem 28.9rem;
  align-items: center;
  justify-content: center;
}

.rodape .newsletter {
  display: flex;
  flex-direction: column;
  gap: 5.169rem;
}

.rodape .newsletter h1 {
  color: var(--bege);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.2rem;
}

.rodape .newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.06rem;
  background-color: var(--white);
  padding: 1rem 1.4rem;
  border-radius: 5rem;
}

.rodape .newsletter form input {
  width: 60.596rem;
  height: 3.609rem;
  border-radius: 5rem;
  padding-left: 1.5rem;
}

.rodape .newsletter form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 3.697rem;
  background: none;
  border-radius: 5rem ;
  padding-inline: 1.8rem;
}

.rodape .info {
  display: flex;
  margin-top: 10.808rem;
  gap: 35rem;
}

.rodape .info h2 {
  color: var(--bege);
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 1.7rem;
}

.rodape .info a {
  text-decoration: none;
  color: var(--bege);
  text-transform: uppercase;
  font-size: 1.6rem;
}

.rodape .info a:hover {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  transition: .3s;
}

.rodape div div {
  display: flex;
  flex-direction: column;
}

.logorodape {
  margin-top: 10rem;
  margin-right: 3rem;
}

.logorodape img{
  width: 20.3rem;
  margin-bottom: 3.3rem;
}

.direitos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 99vw;
  padding-block: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}